body {
background: #add8e6;
text-align: center;
float: left;
}
.header {
	padding: 12px;
	text-align: left;
	background: #87cefa;
	color: white;
	font-size: 21px;
}
.smallstyle {
	font-family: "Times New Roman";
	font-size: 10pt;
	color: black;
}
#main{
	width: auto;
	height: auto;
	background: #ffff89;
	margin: 12px auto;
	border: solid 3px #a349a4;
	padding: 5px;
}

.column-right {
	float: center;
	width: 78%;
	height: auto;
	padding: 12px;
	margin: 8px;
	background: #87cefa;
}
    .clear {
      clear: both;
    }
#footer{
	background: #87cefa;
	height: 150px;
	padding: 12px;
	border: solid #a349a4 3px;
	clear: both;
}
h2{
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 15pt;
	font-style: Italic;
	color: #e786a6;
}
hr{
	height: 2px;
	background-color: #a349a4;
	border: none;
}
p{
	font-family:"Trebuchet MS";
	font-size: 18pt;
	text-align: left;
	color: #c3456e;
}